<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<meta charset="UTF-8">
<title>회원정보 수정</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<style type="text/css">
    h1{
    text-align: center;
    margin : 3%;
    }
    table{text-align: center;} 
    </style> 
</head>
<body  th:align="center" style="background-color: #f5f6f7">
    <div class="container" th:align="center">
      <div class="row" th:align="center">
      <div class="table-responsive">
    <h1 style="color: #f97d66;">회원정보 수정</h1>
    <br>
   <form action="/userUpdate" method="post">
   <table th:align="center" th:cellpadding="0" th:cellspacing="0" style="border: 0; border-radius: 10px; width: 400px;">
      <tr>
         <td th:text="닉네임" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">닉네임</td>
         <td><input name="userNickName" id="userNickName" type="text" size="20" th:value="${session['user'].userNickName}"></td>
      </tr>
      <tr>
         <td th:text="생년월일" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">생년월일</td>
         <td><input name="userBirth" id="userBirth" type="text" size="20" th:value="${session['user'].userBirth}" readonly="readonly"></td>
      </tr>
      <tr>    
         <td th:text="아이디" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">아이디</td>
            <td><input name="userId" id="userId" type="text" size="20"th:value="${session['user'].userId}" readonly="readonly"></td>
      </tr>
      <tr>
         <td th:text="비밀번호" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">비밀번호</td>
         <td><input name="userPassword" id="userPassword" type="text" size="20"th:value="${session['user'].userPassword}"></td>
      </tr>
      <tr>
         <td th:text="성별" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">성별</td>
         <td><input name="userGender" id="userGender" type="text" size="20" th:value="${session['user'].userGender}" readonly="readonly"></td>
      </tr>
      <tr>
         <td th:text="전화번호" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">전화번호</td>
         <td><input name="userPhone" id="userPhone" type="text" size="20" th:value="${session['user'].userPhone}"></td>
        </tr>
        <tr>
            <td colspan="2" style="color: #f5f6f7;">.</td>
        </tr>
      <tr>
         <td><input 
               type="submit" class="btn btn-danger"  style="background-color: #f97d66; width: 190px; border: 0; color: white; text-align: center;" value="수정완료" /></td>
         <td><input 
               type="reset" onclick="javascript:self.close();" class="btn btn-danger"  style="background-color: #f97d66; width: 190px; border: 0; color: white; text-align: center;" value="수정 취소"></td>
      </tr>
    </table>
    </form>
    </div>
    </div>
    </div>
</body>
</html>