<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<meta charset="UTF-8">
<title>회원정보 수정</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
	function sub() {
		 var nick = $("#userNickName").val();
		 var pw = $("#userPassword").val();
		 var phone = $("#userPhone").val();
		 
		 if(nick==''){
			 alert("닉네임을 입력해주세요.");
			 return false;
		 }
		 if(nick.length > 10 || nick.length < 2){
			 alert("닉네임은 2~10글자로 입력해주세요.");
			 return false;
		 } 
		 
		 if(pw==''){
			 alert("비밀번호를 입력해주세요.");
			 return false;
		 }
		 if(pw.length < 4 || pw.length > 20){
			 alert("비밀번호는 4~20자리로 입력해주세요.");
			 return false;
		 }
		 
		 
		 if(phone==''){
			 alert("전화번호를 입력해주세요.");
			 return false;
		 }
		 if(phone.length != 11){
			 alert("잘못된 전화번호 입니다.");
			 return false;
		 }
		   return true;
	}
</script>	
<style type="text/css">
    h1{
    text-align: center;
    margin : 3%;
    }
    table{text-align: center;} 
    </style> 
</head>
<body  th:align="center" style="background-color: #f5f6f7">
    <div class="container" th:align="center">
      <div class="row" th:align="center">
      <div class="table-responsive">
    <h1 style="color: #f97d66;">회원정보 수정</h1>
    <br>
   <form action="/userUpdate" method="post"  th:onsubmit="return sub()">
   <input th:hidden="${session['user'].userId}" id="userId" name="userId" th:value="${session['user'].userId}">
   <input th:hidden="${session['user'].userGender}" id="userGender" name="userGender" th:value="${session['user'].userGender}">
   <input th:hidden="${session['user'].userBirth}" id="userBirth" name="userBirth" th:value="${session['user'].userBirth}">
   <table th:align="center" th:cellpadding="0" th:cellspacing="0" style="border: 0; border-radius: 10px; width: 400px;">
      <tr>
         <td th:text="닉네임" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">닉네임</td>
         <td><input name="userNickName" id="userNickName" type="text" size="20" th:value="${session['user'].userNickName}"></td>
      </tr>
      
      <tr>
         <td th:text="생년월일" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">생년월일</td>
         <td th:text="${session['user'].userBirth}">
         </td>
      </tr>
      <tr>    
         <td th:text="아이디" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">아이디</td>
         <td th:text="${session['user'].userId}">
         </td>
      </tr>
      
      <tr>
         <td th:text="비밀번호" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">비밀번호</td>
         <td><input name="userPassword" id="userPassword" type="password" size="20" th:value="${session['user'].userPassword}"></td>
      </tr>
      
      <tr>
         <td th:text="성별" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">성별</td>
         <td th:text="${session['user'].userGender}">
         </td>
      </tr>
      <tr>
         <td th:text="전화번호" style="background-color: #f97d66; width: 200px; height: 50px; border: 0; color: white; text-align: center;">전화번호</td>
         <td><input name="userPhone" id="userPhone" type="text" size="20" th:value="${session['user'].userPhone}"></td>
        </tr>
        
        <tr>
            <td colspan="2" style="color: #f5f6f7;">.</td>
        </tr>
        
      <tr> 
         <td><input 
               type="submit" class="btn btn-danger"  style="background-color: #f97d66; width: 190px; border: 0; color: white; text-align: center;" value="수정완료" /></td>
         <td><input 
               type="reset" onclick="javascript:self.close();" class="btn btn-danger"  style="background-color: #f97d66; width: 190px; border: 0; color: white; text-align: center;" value="수정 취소"></td>
      </tr>
    </table>
    </form>
    </div>
    </div>
    </div>
</body>
</html>