<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

<link rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
   integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
   crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
   integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
   crossorigin="anonymous"></script>
<script
   src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
   integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
   crossorigin="anonymous"></script>
<script
   src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
   integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
   crossorigin="anonymous"></script>


<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script
   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<style type="text/css">


.map_wrap, .map_wrap * {
   margin: 0;
   padding: 0;
   font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
   font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
   color: #000;
   text-decoration: none;
}

.map_wrap {
   position: relative;
   width: 110%;
   height: 800px;
}

#menu_wrap {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   width: 250px;
   margin: 10px 0 30px 10px;
   padding: 5px;
   overflow-y: auto;
   background: rgba(255, 255, 255, 0.7);
   z-index: 1;
   font-size: 12px;
   border-radius: 10px;
}

.bg_white {
   background: #fff;
}

#menu_wrap hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 2px solid #5F5F5F;
   margin: 3px 0;
}

#menu_wrap .option {
   text-align: center;
}

#menu_wrap .option p {
   margin: 10px 0;
}

#menu_wrap .option button {
   margin-left: 5px;
}

#placesList li {
   list-style: none;
}

#placesList .item {
   position: relative;
   border-bottom: 1px solid #888;
   overflow: hidden;
   cursor: pointer;
   min-height: 65px;
}

#placesList .item span {
   display: block;
   margin-top: 4px;
}

#placesList .item h5, #placesList .item .info {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   padding: 0px 110px 0px 0px;
}

#placesList .item .info {
   padding: 10px 0 0px 25px;
}

#placesList .info .gray {
   color: #8a8a8a;
}

#placesList .info .jibun {
   padding-left: 26px;
   background:
      url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
      no-repeat;
}

#placesList .info .tel {
   color: #009900;
}

#placesList .item .markerbg {
   float: left;
   position: absolute;
   width: 36px;
   height: 37px;
   margin: 10px 0 0 10px;
   background:
      url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
      no-repeat;
}

#placesList .item .marker_1 {
   background-position: 0 -10px;
}

#placesList .item .marker_2 {
   background-position: 0 -56px;
}

#placesList .item .marker_3 {
   background-position: 0 -102px
}

#placesList .item .marker_4 {
   background-position: 0 -148px;
}

#placesList .item .marker_5 {
   background-position: 0 -194px;
}

#placesList .item .marker_6 {
   background-position: 0 -240px;
}

#placesList .item .marker_7 {
   background-position: 0 -286px;
}

#placesList .item .marker_8 {
   background-position: 0 -332px;
}

#placesList .item .marker_9 {
   background-position: 0 -378px;
}

#placesList .item .marker_10 {
   background-position: 0 -423px;
}

#placesList .item .marker_11 {
   background-position: 0 -470px;
}

#placesList .item .marker_12 {
   background-position: 0 -516px;
}

#placesList .item .marker_13 {
   background-position: 0 -562px;
}

#placesList .item .marker_14 {
   background-position: 0 -608px;
}

#placesList .item .marker_15 {
   background-position: 0 -654px;
}

#pagination {
   margin: 10px auto;
   text-align: center;
}

#pagination a {
   display: inline-block;
   margin-right: 10px;
}

#pagination .on {
   font-weight: bold;
   cursor: default;
   color: #777;
}

body {
   overflow-x: hidden;
   overflow-y: auto;
}
</style>
</head>
<body style="width: 100%; background-color: #f5f6f7;" onload="onl()">
   <nav class="navbar navbar-expand-lg navbar-light"
      style="background-color: pink">
      <a class="navbar-brand" href="/home"><img src="./img/logo.png"
         alt="로고" style="width: 200px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
         data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false"
         aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto"> 
            <li class="nav-item dropdown"><a
               class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"> 한식 </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/getMarker?menu=면류" onclick="on()">면류</a> 
                  <a class="dropdown-item" href="/getMarker?menu=육류">육류</a>
                  <a class="dropdown-item" href="/getMarker?menu=탕류">탕류</a>
                  <a class="dropdown-item" href="/getMarker?menu=일반한식">일반한식</a>
               </div></li>
         <li class="nav-item dropdown"><a
               class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"> 중식 </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/getMarker?menu=일반중식">일반중식</a> 
                  <a class="dropdown-item" href="/getMarker?menu=마라">마라</a>
                  <a class="dropdown-item" href="/getMarker?menu=양꼬치">양꼬치</a>
               </div></li>
               <li class="nav-item dropdown"><a
               class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"> 일식 </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/getMarker?menu=사시미">사시미</a> 
                  <a class="dropdown-item" href="/getMarker?menu=면류">면류</a>
                  <a class="dropdown-item" href="/getMarker?menu=일본가정식">일본가정식</a>
                  <a class="dropdown-item" href="/getMarker?menu=튀김">튀김</a>
                  <a class="dropdown-item" href="/getMarker?menu=꼬치">꼬치</a>
               </div></li>
            <li class="nav-item"><a class="nav-link" href="/getMarker?menu=분식">분식</a></li>
            
            <li class="nav-item"><a class="nav-link" href="/getMarker?menu=양식">양식</a></li>
            <li class="nav-item dropdown"><a
               class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"> 패스트푸드 </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/getMarker?menu=피자">피자</a> <a
                     class="dropdown-item" href="/getMarker?menu=치킨">치킨</a>
                  <a class="dropdown-item" href="/getMarker?menu=햄버거">햄버거</a>
               </div></li>
         </ul>
         
         <ul class="nav navbar-nav navbar-right">
            <li><button style="text-decoration: none; font-size:15px; color: white; border:0; background-color: #f97d66; border-radius: 5px;" onclick="gooSubmit()" value="마이페이지">마이페이지</button>
               </li>
               
            <li><a href="/logout"
               style="margin: 10px; padding:2px; text-decoration: none; font-size:15px; color: white; background-color: #f97d66; border-radius: 5px;">로그아웃</a></li>
         </ul>
      </div>
   </nav>

   <div class="container" style="display: inline;" >
      <div class="row">
         <div class="col-md-9">

            <div class="map_wrap">
               <div id="map"
                  style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>

               <div id="menu_wrap" class="bg_white">
                  <div class="option">
                     <div>
                        <form method="get" action="/getMarker">
                           지역: <select id="keyword" name="keyword">
                              <option th:each="key,i: ${key}" th:text="${key}" th:selected="${key} == ${keyword}"></option>
                           </select>
                           <input type="hidden" th:value="${menu}" name="menu">
                           <button type="submit" class="btn btn-danger" onclick="ser()"
                              style="background-color: #f97d66; width: 30%; border: 0;">검색하기</button>
                        </form>

                        <hr>
                        <ul id="placesList"></ul>
                        <!-- <div id="pagination"></div> 페이지번호-->
                        <div id="clickLatlng"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-2" style="margin-left:7%;">
         <div th:if="${boardmenu} == null">
         <div th:if="${mapListOther} == null">
            <div th:each="mapinfo, i: ${mapList}">
               <input name="res" th:hidden="${mapinfo.restaurant}"
                  th:value="${mapinfo.restaurant}" id="res" /> <input name="x"
                  th:hidden="${mapinfo.r_location_x}"
                  th:value="${mapinfo.r_location_x}" id="x" /> <input name="y"
                  th:hidden="${mapinfo.r_location_y}"
                  th:value="${mapinfo.r_location_y}" id="y" /> <input name="loc"
                  th:hidden="${mapinfo.location}" th:value="${mapinfo.location}"
                  id="loc" />
                  <input th:hidden="${mapinfo.boardidx}" th:value="${mapinfo.boardidx}" name="boardidx">
            </div>
         </div>
         <div th:if="${mapListOther} != null">
            <div th:each="mapinfo, i: ${mapListOther}">
               <input name="res" th:hidden="${mapinfo.restaurant}"
                  th:value="${mapinfo.restaurant}" id="res" /> <input name="x"
                  th:hidden="${mapinfo.r_location_x}"
                  th:value="${mapinfo.r_location_x}" id="x" /> <input name="y"
                  th:hidden="${mapinfo.r_location_y}"
                  th:value="${mapinfo.r_location_y}" id="y" /> <input name="loc"
                  th:hidden="${mapinfo.location}" th:value="${mapinfo.location}"
                  id="loc" />
                  <input th:hidden="${mapinfo.boardidx}" th:value="${mapinfo.boardidx}" name="boardidx">
            </div>
         </div>
         </div>
            <div th:if="${boardmenu} != null">
            <div th:each="entry : ${boardmenu}" th:with="boardmenu=${entry.value}">
               <input name="res" th:hidden="${boardmenu[0].restaurant}"   th:value="${boardmenu[0].restaurant}" id="res" />
               <input name="x" th:hidden="${boardmenu[0].r_location_x}"   th:value="${boardmenu[0].r_location_x}" id="x" />
               <input name="y"   th:hidden="${boardmenu[0].r_location_y}"   th:value="${boardmenu[0].r_location_y}" id="y" />
               <input name="loc" th:hidden="${boardmenu[0].location}" th:value="${boardmenu[0].location}"   id="loc" />
               <input th:hidden="${boardmenu[0].boardidx}" th:value="${boardmenu[0].boardidx}" name="boardidx">
            </div>
            
            </div>
            <form name="form" action="" method="post">
               지역 : <input name="location" id="location" value="" class="form-control"> <br> 
                   <input type="hidden" id="latlngX" name="r_location_x" value="" class="form-control">
                   <input type="hidden" id="latlngY" name="r_location_y" value="" class="form-control"> 
                   <span th:hidden="${userinfo.userNickName}" th:value="${userinfo.userNickName}"></span>
               음식점 :<input type="text" id="restaurant" name="restaurant" class="form-control"><br>
                  <input th:hidden="${session['user'].userPhone}">
                   <input type="button" class="btn btn-danger" style="background-color: #f97d66; width: 100%; border: 0;" onclick="goSubmit()" value="글쓰기">
            </form>
            <form>
            <div style="margin-top:11%"><a href="/getMarker?menu=치킨" id="banner_href"><img src="./foodpic/chicken.png" id="banner" style="width: 100%;"></a></div>
           
            </form>
         </div>
      </div>
   </div>
      <div id="wrap-foot" class="footer" style="">
    <div class="info-company">
        <table style="text-align:center; font-size:12px;color:#888888; border:1px solid #424242; width:40%; margin-left:30%">
        <tr>
        <th colspan="2">서비스 이용약관 / 개인정보 취급방침</th>
        </tr>
        <tr>
        <td>팀 명 : Team4 / 팀번호 : 224-44-224224 <br>
            소재지 : 서울시 종로구 종로12길 15 종로코아 5층 솔데스크 1014호<br>
            T. 04-244-2244 / e-mail. hyeok0608@gmail.com</td>
        </tr>
        <tr>
      <td>COPYRIGHT© 2020~2020 Team4. ALL RIGHTS RESERVED</td>
      </tr>
        <tr>
            <th colspan="2">Project by Team4 SaDaRi / Copy from Team4 SaDaRi</th>
        </tr>
        <tr>
        <th colspan="2">COPYRIGHT ⒸTeam4 CORP ALL RIGHTS RESERVED.</th>
        </tr>
        </table>
    </div><!-- inf-company -->
    </div>

</body>
<script type="text/javascript"
   src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d8f60004496cc3864b4652c1723cc364&libraries=services"></script>
<script type="text/javascript">
var banner=document.getElementById("banner");
var href=document.getElementById("banner_href");
var imageArray=["./foodpic/chicken.png","./foodpic/gukbab.png","./foodpic/hambug.png","./foodpic/jajang.png","./foodpic/jbab.png","./foodpic/kal.png","./foodpic/kbab.png","./foodpic/kochi.png","./foodpic/mara.png","./foodpic/pasta.png","./foodpic/pizza.png","./foodpic/sam.png","./foodpic/sushi.png","./foodpic/tikim.png","./foodpic/tuck.png","./foodpic/udong.png","./foodpic/yang.png"];
var hrefArray= ["/getMarker?menu=치킨","/getMarker?menu=탕류","/getMarker?menu=햄버거","/getMarker?menu=일반중식","/getMarker?menu=일본가정식","/getMarker?menu=면류","/getMarker?menu=일반한식","/getMarker?menu=꼬치","/getMarker?menu=마라","/getMarker?menu=양식","/getMarker?menu=피자","/getMarker?menu=육류","/getMarker?menu=사시미","/getMarker?menu=튀김","/getMarker?menu=분식","/getMarker?menu=면류","/getMarker?menu=양꼬치",]
var imageIndex=0;

function changeImage(){
   banner.setAttribute("src",imageArray[imageIndex]);
   href.setAttribute("href",hrefArray[imageIndex]);
   imageIndex++;
   if(imageIndex>=imageArray.length){
      imageIndex=0;
   }
   
}

setInterval(changeImage,1000);





   //새창띄우기
   function goSubmit(){
         var Location = $("#location").val();
         var Restaurant = $("#restaurant").val();
               if (Location == '') {
               alert("지도에서 위치를 클릭해주세요.");
               return false;
         }
   if (Restaurant == '') {
         alert("음식점 이름을 입력해주세요.");
      return false;
   }
         var gsWin = window.open('/insertMap', 'about:blank', 'status=no, height=1000, width=700,scrollbars=yes, left='+ 600 + ', top='+ 130 + ', screenX='+ 600 + ', screenY= '+ 130);
         var frm = document.form;
         frm.action = '/insertMap'; 
         frm.target = 'about:blank';
         frm.method = "post";
         frm.submit();
         
            
         }
   
         //window.open('/insertMap,'_blank','width=430,height=500,location=no,status=no,scrollbars=yes'); 
         //return false;
   
   function gooSubmit(){
         var gsWin = window.open('/getUserInfo', 'about:blank', 'status=no, height=600, width=800,scrollbars=no, left='+ 600 + ', top='+ 150 + ', screenX='+ 600 + ', screenY= '+ 150);
         var frm = document.form;
         frm.action = '/getUserInfo'; 
         frm.target = 'about:blank';
         frm.method = "post";
         frm.submit();
         //window.open('/insertMap,'_blank','width=430,height=500,location=no,status=no,scrollbars=yes'); 
         //return false;
   }

   //
   var x = document.getElementsByName("x");
   var y = document.getElementsByName("y");
   var xx = document.getElementsByName("xx");
   var yy = document.getElementsByName("yy");
   var res = document.getElementsByName("res");
   var loc = document.getElementsByName("loc");
   var idx = document.getElementsByName("boardidx");
   var food = document.getElementsByName("foodType");
   
   var xxx = x[0].value;
   var yyy = x[0].value;
   
   
      var markers = [];
	var keyXY = document.getElementById("keyword").value;
	   function onl(){
	   if(keyXY == "강남구"){
	      var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	      mapOption = {
	       center : new kakao.maps.LatLng(37.509172, 127.043951), // 지도의 중심좌표
	       level : 5
	       }
	    }else if(keyXY == "강동구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.550969, 127.144327), // 지도의 중심좌표
	          level : 5
	            }
	       
	    }else if(keyXY == "강북구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.639338, 127.025390), // 지도의 중심좌표
	          level : 5
	            }
	       
	    }else if(keyXY == "강서구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.567656, 126.810948), // 지도의 중심좌표
	          level : 5
	            }
	       
	    }else if(keyXY == "관악구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.471302, 126.936865), // 지도의 중심좌표
	          level : 5
	            }
	       
	    }else if(keyXY == "광진구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.567656, 126.810948), // 지도의 중심좌표
	          level : 5
	            }
	       
	    }else if(keyXY == "금천구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.484445, 126.896007), // 지도의 중심좌표
	          level : 5
	            }
	       
	    }else if(keyXY == "구로구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.501431, 126.859896), // 지도의 중심좌표
	          level : 5
	            }
	    }
	    else if(keyXY == "노원구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.655418, 127.061363), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "도봉구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.671636, 127.043201), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "동대문구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.589527, 127.057835), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "동작구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.502977, 126.947897), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "마포구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.550045, 126.914816), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "서대문구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.573851, 126.935629), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "서초구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.492133, 127.008726), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "성동구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.547492, 127.047179), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "성북구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.592894, 127.016138), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "송파구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.514351, 127.104646), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "양천구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.526376, 126.864614), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "영등포구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.517743, 126.907514), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "용산구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.535324, 126.995667), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "은평구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.611682, 126.917683), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "중구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.566122, 126.982691), // 지도의 중심좌표
	          level : 5
	            }
	    }else if(keyXY == "중랑구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.595759, 127.086154), // 지도의 중심좌표
	          level : 5
	            }
	    }
	    else if(keyXY == "중로구"){
	       var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.56931205456954, 126.98603181926016), // 지도의 중심좌표
	          level : 5
	            }
	    }else{
	    	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	         mapOption = {
	          center : new kakao.maps.LatLng(37.56931205456954, 126.98603181926016), // 지도의 중심좌표
	          level : 5
	    }
	    }

   //지도를 생성합니다    
   var map = new kakao.maps.Map(mapContainer, mapOption);

   //장소 검색 객체를 생성합니다
   var ps = new kakao.maps.services.Places();

   //검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
   var infowindow = new kakao.maps.InfoWindow({
      zIndex : 1
   });
   
   //키워드로 장소를 검색합니다
   searchPlaces();
   //키워드 검색을 요청하는 함수입니다
   function searchPlaces() {

      var keyword = document.getElementById('keyword').value;
      if (!keyword.replace(/^\s+|\s+$/g, '')) {
         alert('키워드를 입력해주세요!');   
         return false;
      }

      // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
      ps.keywordSearch(keyword, placesSearchCB);
   }
   //장소검색이 완료됐을 때 호출되는 콜백함수 입니다
   function placesSearchCB(data, status, pagination) {
      if (status === kakao.maps.services.Status.OK) {

         // 정상적으로 검색이 완료됐으면
         // 검색 목록과 마커를 표출합니다
         displayPlaces(data);

         // 페이지 번호를 표출합니다
         displayPagination(pagination);

      } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

         alert('검색 결과가 존재하지 않습니다.');
         return;

      } else if (status === kakao.maps.services.Status.ERROR) {

         alert('검색 결과 중 오류가 발생했습니다.');
         return;

      }
   }
if(x.length != 0){
   //검색 결과 목록과 마커를 표출하는 함수입니다
   function displayPlaces(places) {

      var listEl = document.getElementById('placesList'), menuEl = document
            .getElementById('menu_wrap'), fragment = document
            .createDocumentFragment(), bounds = new kakao.maps.LatLngBounds(), listStr = '';

      
      // 검색 결과 목록에 추가된 항목들을 제거합니다
      removeAllChildNods(listEl);

      // 지도에 표시되고 있는 마커를 제거합니다
      removeMarker();
      

         if (xx.length != 0) {
            for (var j = 0; j < food.length; j++) {
               xx = x[j].value;
               yy = y[j].value;
                  x = xx;
                  y = yy;
            }
         }

         
         for(var i = 0; i < x.length; i++) {
            // 마커를 생성하고 지도에 표시합니다
            var placePosition = new kakao.maps.LatLng(x[i].value,
                  y[i].value), marker = addMarker(placePosition, i), itemEl = getListItem(
                  i, places[i]); // 검색 결과 항목 Element를 생성합니다

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            bounds.extend(placePosition);
            // 마커와 검색결과 항목에 mouseover 했을때
            // 해당 장소에 인포윈도우에 장소명을 표시합니다
            // mouseout 했을 때는 인포윈도우를 닫습니다
            (function(marker, title) {
               var rest = res[i].value;
               kakao.maps.event.addListener(marker, 'mouseover',
                     function() {
                        displayInfowindow(marker, rest);
                     });

               kakao.maps.event.addListener(marker, 'mouseout',
                     function() {
                        infowindow.close();
                     });

               itemEl.onmouseover = function() {
                  displayInfowindow(marker, rest);
               };

               itemEl.onmouseout = function() {
                  infowindow.close();
               };
            })(marker, places[i].place_name);

            fragment.appendChild(itemEl);
         }
         // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
         listEl.appendChild(fragment);
         menuEl.scrollTop = 0;

         // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
         map.setBounds(bounds);
      }
   }
   //검색결과 항목을 Element로 반환하는 함수입니다
   function getListItem(index, places) {
      var boardidx = idx[index].value;
      var el = document.createElement('li'), itemStr = '<span class="markerbg marker_'
            + (index + 1)
            + '"></span>'
            + '<a href="/location?boardidx='
            + boardidx
            + '">'
            + '<div class="info">'
            + '   <h5>'
            + res[index].value + '</h5>';

      if (places.road_address_name) {
         itemStr += '    <span>' + loc[index].value + '</span>';
      } else {
         itemStr += '    <span>' + loc[index].value + '</span>';
      }

      itemStr += '</div></a>';
      //<span class="tel">' + places.phone + '</span>' 
      el.innerHTML = itemStr;
      el.className = 'item';

      return el;
   }

   //마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
   function addMarker(position, idx, title) {
      var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
      imageSize = new kakao.maps.Size(36, 37), // 마커 이미지의 크기
      imgOptions = {
         spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
         spriteOrigin : new kakao.maps.Point(0, (idx * 46) + 10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
         offset : new kakao.maps.Point(13, 37)
      // 마커 좌표에 일치시킬 이미지 내에서의 좌표
      }, markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize,
            imgOptions), marker = new kakao.maps.Marker({
         position : position, // 마커의 위치
         image : markerImage
      });

      marker.setMap(map); // 지도 위에 마커를 표출합니다
      markers.push(marker); // 배열에 생성된 마커를 추가합니다

      return marker;
   }
   //지도 위에 표시되고 있는 마커를 모두 제거합니다
   function removeMarker() {
      for (var i = 0; i < markers.length; i++) {
         markers[i].setMap(null);
      }
      markers = [];
   }

   //검색결과 목록 하단에 페이지번호를 표시는 함수입니다
   function displayPagination(pagination) {
      var paginationEl = document.getElementById('pagination'), fragment = document
            .createDocumentFragment(), i;

      // 기존에 추가된 페이지번호를 삭제합니다
      while (paginationEl.hasChildNodes()) {
         paginationEl.removeChild(paginationEl.lastChild);
      }

      for (i = 1; i <= pagination.last; i++) {
         var el = document.createElement('a');
         el.href = "#";
         el.innerHTML = i;

         if (i === pagination.current) {
            el.className = 'on';
         } else {
            el.onclick = (function(i) {
               return function() {
                  pagination.gotoPage(i);
               }
            })(i);
         }

         fragment.appendChild(el);
      }
      paginationEl.appendChild(fragment);
   }

   //검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
   //인포윈도우에 장소명을 표시합니다
   function displayInfowindow(marker, title) {
      var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

      infowindow.setContent(content);
      infowindow.open(map, marker);
   }

   // 검색결과 목록의 자식 Element를 제거하는 함수입니다
   function removeAllChildNods(el) {
      while (el.hasChildNodes()) {
         el.removeChild(el.lastChild);
      }
   }

   var marker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
   infowindow = new kakao.maps.InfoWindow({
      zindex : 1
   }); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다

   // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
   kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

      searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
         if (status === kakao.maps.services.Status.OK) {
            var detailAddr = result[0].address.address_name;

            var latlng = mouseEvent.latLng;//클릭한 위치 좌표

            // 마커를 클릭한 위치에 표시합니다 
            marker.setPosition(mouseEvent.latLng);
            marker.setMap(map);

            // 인포윈도우에 클릭한 위치에 대한 상세 주소정보를 표시합니다
            infowindow.setContent(detailAddr);
            infowindow.open(map, marker);
            var latlngX = latlng.getLat();
            var latlngY = latlng.getLng();
            document.getElementById("latlngX").value = latlngX;
            document.getElementById("latlngY").value = latlngY;
            document.getElementById("location").value = detailAddr;
            location.innerHTML = add[1];
         }
      });
   });
   // 주소-좌표 변환 객체를 생성합니다
   var geocoder = new kakao.maps.services.Geocoder();

   function searchAddrFromCoords(coords, callback) {
      // 좌표로 주소 정보를 요청합니다
      geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
   }

   function searchDetailAddrFromCoords(coords, callback) {
      // 좌표로 상세 주소 정보를 요청합니다
      geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
   }

   // 지도에 확대 축소 컨트롤을 생성한다
   var zoomControl = new kakao.maps.ZoomControl();
   // 지도의 우측에 확대 축소 컨트롤을 추가한다
   map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

   // 마우스 휠과 모바일 터치를 이용한 지도 확대, 축소를 막는다
   map.setZoomable(false);
}
</script>
</html>