<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<meta charset="UTF-8">
<title>시작화면</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
<script	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"	crossorigin="anonymous"></script>
<style type="text/css">
h2 {
	text-align: center;
	margin: 3%;
}
input{text-align: center;} 
</style>
</head>
<body th:align="center" style="background-color: #f5f6f7">
		<div th:align="center" style="margin:8%"><img src="./img/logo.png" alt="로고" ></div>
		<div th:align="center">
		<input type="button" onclick="location.href='/login'" class="btn btn-danger" style="background-color: #f97d66; width: 400px; height:70px; border: 0; box-shadow: 4px 4px 4px 4px gray; font-size:30px; font-weight:bold;" value="같이먹을래!"><br><br>
		<input type="button" onclick="location.href='/join'" class="btn btn-danger" style="background-color: #f97d66; width: 400px; height:50px; border: 0; box-shadow: 4px 4px 4px 4px gray;" value="회원가입">
		</div>
</body>
<script type="text/javascript">
const { config, Group } = require('coolsms-node-sdk')

//인증을 위해 발급받은 본인의 API Key를 사용합니다.
const apiKey = 'NCSLHGS73Y1I5F1K'
const apiSecret = 'JNGMSUCTTTIKB8ANG91E933YRULVRRBJ'
config.init({ apiKey, apiSecret })
async function send (params = {}) {
try {
 const response = await Group.sendSimpleMessage(params)
 console.log(response)
} catch (e) {
 console.log(e)
}
}

const params = {
text: '[쿨에스엠에스 테스트] hello world!', // 문자 내용
type: 'SMS', // 발송할 메시지 타입 (SMS, LMS, MMS, ATA, CTA)
to: '01091183210', // 수신번호 (받는이)
from: '01091183210' // 발신번호 (보내는이)
}
send(params)
</script>
</html>