<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head> 
<meta charset="UTF-8">
</head>
<body>
	${param.latlngY}
	${request.param.latlngX}
	${requestScope.latlngX}
	${latlngX}
	${latlngY}
	${response.latlngX}
	${loca}
	<form th:action="@{/insertMap}" method="post">
		음식점 : <input type="text" id="restaurant" >
		위치 : <input type="text" id="r_location_x" value="${param.latlngY}">
			   <input type="text" id="r_location_y" value="${latlngY}">
	   지역: <input type="text" id="location">
	   <input type="submit" value="보내기">
	</form>
</body>
</html>