<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<meta charset="UTF-8">
<link rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
   integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
   crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
   integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
   crossorigin="anonymous"></script>
<script
   src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
   integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
   crossorigin="anonymous"></script>
<script
   src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
   integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
   crossorigin="anonymous"></script>

<title>게시글 쓰기</title>

<style type="text/css">
tr{
height: 50px;
}
td{
vertical-align:top; 
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>
<script>
function tempsb(){
      var Subject = $("#subject").val();
      var Password = $("#password").val();
      var Time = $("#time").val();
      var Date = $("#date").val();
      var foodcomment = $("#foodComment").val();
      //아이디 빈칸 확인
            if (Subject == '') {
            alert("제목을 입력해주세요.");
         return false;
      }
            if (Password.length != 4 || Password ==null) {
            alert("숫자 4자리로 입력해주세요.");
         return false;
      }
            if (Date == '') {
            alert("날짜를 선택해주세요.");
         return false;
      }
            if (Time == '') {
            alert("시간을 선택해주세요.");
         return false;
      }
            if (foodcomment == '') {
            alert("간단히 소개해주세요.");
         return false;
      }
      return true;
      }
</script>
</head>
<body th:align="center" style="background-color: #f5f6f7">
   <div class="container" th:align="center">
      <div class="row" th:align="center">
      <div class="table-responsive">
       <h3 th:text="글쓰기" style="color: #f97d66; margin-top:7%;"></h3>
      <br>
           <form th:action="@{/fileUpload}" id="upload" name="upload" enctype="multipart/form-data" method="post">
         <table th:align="center" border="0" th:cellpadding="0" th:cellspacing="0" style="width: 400px;">
          <tr style="width: 50px; height:10px;">
          <td  colspan="2">사진을 선택해주세요.</td>
          </tr>
          
            <tr>
            <td colspan="2">
            <div class="select_img"><img src="" style="width: 300px; height: 300px; border: 1px solid #f97d66;"/></div>
            </td>
            </tr>
            
			<tr>
          <td class="text-right">
          <input th:hidden="${map.boardidx}" name="boardidx" th:value="${map.boardidx}">
          <input th:hidden="${map.location}" name="location" th:value="${map.location}">
          <input th:hidden="${map.restaurant}" name="restaurant" th:value="${map.restaurant}">
          <input id="filename" name="filename" type="file" style="width: 300px; border: 1px solid #f97d66;" value="aa">
          </td>
          <td>
            <input type="submit" value="등록" class="btn btn-danger" style="background-color: #f97d66; width: 100px; border: 0;">
            </td>
            </tr>
            </table>
            <br>
       </form>
       <form th:action="@{/insertLocation}" method="post" th:onsubmit="return tempsb(this)">
             <input th:hidden="${session['user'].userId}" id="userId" name="userId" th:value="${session['user'].userId}">
             <input th:hidden="1" id="likeup" name="likeup" th:value="1">
            <table th:align="center" border="0" th:cellpadding="0" th:cellspacing="0" style="width: 400px;">
               <tr>
                  <td th:text="제목"></td>
                  <td class="text-right"><input type="text" name="subject" id="subject" class="form-control"><br></td>
                     <input type="hidden" th:value="${map.boardidx}" name="boardidx">
               </tr>
               <tr>
                  <td th:text="글암호"></td>
                  <td class="text-right"><input type="number" name="password" id="password" class="form-control"  style="-webkit-text-security: disc;" placeholder="숫자 4자로 입력해주세요."><br></td>
               </tr>
               <tr>
                  <td th:text="작성자"></td>
                  <td class="text-right"><input th:value="${session['user'].userNickName}" name="writer" readonly="readonly" class="form-control"><br>
               </tr>
               <tr>
                  <td th:text="지역"></td>
                  <td class="text-right"><span th:text="${map.location}"></span><br>
               </tr>
               <tr>
                  <td th:text="장소"></td>
                  <td class="text-right"><input th:value="${map.restaurant}" name="restaurant" readonly="readonly" class="form-control"><br>
                  <!-- 음식정명 --></td>
               </tr>
               <tr>
                  <td th:text="메뉴"></td>
                  <td class="text-right">
                  <select name="foodType" id="foodType"  class="form-control">
                        <optgroup label="한식">
                           <option value="일반한식" th:text="일반한식"></option>
                           <option value="면류" th:text="면류"></option>
                           <option value="육류" th:text="육류"></option>
                           <option value="탕류" th:text="탕류"></option>
                        </optgroup>

                        <optgroup label="중식">
                           <option value="일반중식" th:text="일반중식"></option>
                           <option value="마라" th:text="마라"></option>
                           <option value="양꼬치" th:text="양꼬치"></option>
                        </optgroup>

                        <optgroup label="일식">
                           <option value="회/초밥" th:text="사시미"></option>
                           <option value="면류" th:text="면류"></option>
                           <option value="일본가정식" th:text="일본가정식"></option>
                           <option value="튀김"  th:text="튀김"></option>
                           <option value="꼬치" th:text="꼬치"></option>
                        </optgroup>
                        <optgroup label="분식">
                           <option value="분식" th:text="분식"></option>
                        </optgroup>
                        <optgroup label="양식">
                           <option value="양식" th:text="양식"></option>
                        </optgroup>
                        <optgroup label="패스트푸드">
                           <option value="피자" th:text="피자"></option>
                           <option value="치킨" th:text="치킨"></option>
                           <option value="햄버거" th:text="햄버거"></option>
                        </optgroup>
                  </select> <!-- <input type="text"  name="l_menu2" id="l_menu2" placeholder="상세메뉴(안적어도 괜찮아요)"> -->
                     <br></td>
               </tr>
               <tr>
                  <td th:text="시간"></td>
                  <td class="text-right"><input type="date" name="date" id="date" class="form-control"> <input
                     type="time" name="time" id="time" class="form-control"><br></td>
               </tr>
               <tr>
                  <td th:text="참가인원"></td>
                  <td class="text-right">
                  <select name="wantWho" id="wantWho" class="form-control">
                  <option value="2" th:text="2"></option>
                  <option value="3" th:text="3"></option>
                  <option value="4" th:text="4"></option>
                  <option value="5" th:text="5"></option>
                  <option value="6" th:text="6"></option>
                  </select>
                  <br></td>
               </tr>
               <tr>
                  <td colspan="2" th:text="내용"><br></td></tr>
                  <tr>
                  <td colspan="2"><textarea rows="7" cols="50" name="foodComment"
                        id="foodComment"  class="form-control"></textarea><br></td>
               </tr>
               <tr>
                  <td><input type="submit" class="btn btn-danger" style="background-color: #f97d66; width: 190px; border: 0;" value="작성"></td>
                  <td class="text-right"><a onclick="javascript:self.close();"
               class="btn btn-danger"  style="background-color: #f97d66; width: 190px; border: 0; color: white; text-align: center;">취소</a></td>
               </tr>
            </table>
         </form>
    
         </div>
      </div>
   </div>
            <script>
               $("#filename").change(function(){
                  if(this.files && this.files[0]){
                     var reader = new FileReader;
                     reader.onload = function(data){
                        $(".select_img img").attr("src", data.target.result).width(300);
                     }
                     reader.readAsDataURL(this.files[0]);
                  }
               })
            </script>
 </body>
</html>