<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>location</h2>
	<form th:action="@{updateLocation}" method="post">
		<table th:each="loca, i: ${locationList}">
			<tr> 
				<td>식당이름</td>
				<td th:text="${loca.restaurant}"></td>
			</tr>
			<tr>
				<td>위치</td>
				<td th:text="${loca.location}"></td>
			</tr>
			<tr>
				<td th:hidden="${loca.r_location_x}"></td>
			</tr>
			<tr>
				<td th:hidden="${loca.r_location_y}"></td>
			</tr>
			<tr>
				<td>음식종류</td>
				<td th:text="${loca.foodType}"></td>
			</tr>
			<tr>
				<td th:hidden="${loca.foodLikeScore}"></td>
			</tr>
			<tr>
				<td th:hidden="${loca.foodLikePerson}"></td>
			</tr>
			<tr>
				<td th:hidden="${loca.boardidx}"></td>
			</tr>
			<tr>
				<td>글 제목</td>
				<td th:text="${loca.subject}"></td>
			</tr>
			<tr>
				<td>날짜</td>
				<td th:text="${loca.date}"></td>
			</tr>
			<tr>
				<td>시간</td>
				<td th:text="${loca.hour}"></td>
			</tr>
			<tr>
				<td>작성자</td>
				<td th:text="${loca.writer}"></td>
			</tr>
			<tr>
				<td>작성시간</td>
				<td th:text="${loca.writingTime}"></td>
			</tr>
			<tr>
				<td>함께 식사하고 싶은 사람</td>
				<td th:text="${loca.wantWho}"></td>
			</tr>
			<tr>
				<td>작성내용</td>
				<td th:text="${loca.foodComment}"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
				<input type="submit" value="글 수정"></td>
			</tr>
		</table>
	</form>
	<a th:href="@{/insertLocation}">글 등록</a>&nbsp;&nbsp;&nbsp;
	<a th:if="${session['member'].role == 'ROLE_ADMIN'}"
		th:href="@{/deleteLocation(seq=${board.seq})}">글 삭제</a>&nbsp;&nbsp;&nbsp;
	<a th:href="@{/locationList}">글 목록</a>

</body>
</html>